POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8npassword
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=n8npassword

N8N_ENCRYPTION_KEY=b951f405f4c4c09115305aecc9cc0119e5cf6df386a21c7a
N8N_USER_MANAGEMENT_JWT_SECRET=1e2daa991b5dce1e2fdba5cfce79dc0e0b605b7ad68db625
N8N_SECURE_COOKIE=false
